ol.mp_list {
  list-style: none;
}
textarea.sizable {
  height: auto;
}

.search-container {
  position: relative;
}

#loading {
  position: absolute;
  line-height: 36px;
  right: 12px;
}
#viewing_comments {
  font-family: monospace;
}