/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * removed: require_tree .
 *= require_self

  *** Bower Assets ***
 *= require skeleton-css/css/normalize
 *= require skeleton-css/css/skeleton
 *= require jgrowl/jquery.jgrowl
 */

@import "font-awesome-sprockets";
@import "font-awesome";



@import 'colors';
@import 'messages';

.content {
  margin: auto;
  background-color: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
}

@media (min-width: 750px) {
  .content{
    width: 80%;
    max-width: 800px;
  }
}

.hidden {
  display: none;
}
body {
  background-color: #d8d8d8;
}
// .left {
//   float:left;
// }
// .right {
//   float: right;
// }

form {
  .required:after {
    content: " *";
    color: red;
  }
}
.center {
  text-align: center;
}

// @media (min-width: 750px) {
//   body {
//     font-size: 5em;
//   }
// }

// .button-primary {
//   background-color: $primary-color;
//   border-color: $primary-color;
// }

.first-time:after {
  content: "first time";
  text-transform: uppercase;
  background-color: $star-color;
  font-size: .6em;
  padding: 2px;
  border-radius: 3px;
  vertical-align: text-top;
}

.viewing.mini {
  margin-bottom: 20px;
}
.poster {
  width: 100%;
  max-width: 200px;
}

.header {
  padding: 10px 50px;
  text-align: center;

  @media (min-width: 750px) {
    .left {
      text-align: left;
    }
    .center {
      text-align: center;
    }
    .right {
      text-align: right;
    }
  }

  .add-film {
    color: #222222;
    font-size: 100px;
    vertical-align: middle;
  }
}
