/* http://fontawesome.io/examples/ */

/*@color = */
 @import 'colors';

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: inherit;
  label {
    display: inline-block;
  }
  font-size: 0px;
  input {
    display: none;
  }
}
.rating label.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  font-size: 30px;
}

.rating label.star:hover {
  cursor: pointer;
}

.rating label.star:before {
  content: "\f006";
  padding-right: 5px;
  color: #777777;
}
.rating label.star:hover:before,
.rating label.star:hover ~ label.star:before {
  content: "\f005";
  /*color: #e3cf7a;*/
  color:  $star-color;
}