/* http://fontawesome.io/examples/ */

 @import 'colors';

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: inherit;
  font-size: 0px;
  label {
    display: inline-block;
  }
  input {
    display: none;
  }

  input[type="radio"]:checked + label.star:before,
  input[type="radio"]:checked + label.star ~ label.star:before,
  label.star:hover:before,
  label.star:hover ~ label.star:before {
    content: "\f005";
    color:  $star-color;
  }

  label.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    font-size: 30px;
  }

  label.star:hover {
    cursor: pointer;
  }

  label.star:before {
    content: "\f006";
    padding-right: 5px;
    color: #777777;
  }

}